.main-navigation {
	display: flex;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}



			a {
				width: 200px;
			}

		}

	}


	a {
		display: flex;
		text-decoration: none;
	}


}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		width: 50%;
	}

	.nav-next {
		text-align: right;
		width: 50%;
	}
}
