.grilleCours{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr,1fr;
    grid-template-rows: 1fr,1fr,1fr,1fr,1fr,1fr;
    background-color:lighten($couleurX,35%);
}

.top{
    @include rayure;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr,1fr;
    grid-template-rows: 1fr;
}